---
const props = Astro.props;
---

<h2
  {...props}
  class="text-xl leading-9 font-semibold my-4 py-2 border-b-2 dark:border-neutral-600 border-neutral-100 flex"
>
  <span class="text-neutral-400 mr-2">##</span>
  <slot />
</h2>
