---
import SearchModal from "./SearchModal.astro";
import ThemeToggleButton from "./ThemeToggleButton.astro";
---

<header class="flex items-center justify-between gap-4">
  <a href="/" class="hover:underline">
    <h1 class="text-md font-mono">tatsumiyamamoto.com</h1>
  </a>

  <div class="flex justify-center items-center gap-4">
    <SearchModal />

    <a href="/rss.xml" target="_blank" rel="noopener noreferrer">
      <svg
        class="size-5"
        fill="none"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        stroke="currentColor"
        stroke-width="1.5"
        ><path
          d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
          stroke-linecap="round"
          stroke-linejoin="round"></path></svg
      >
    </a>

    <ThemeToggleButton />
  </div>
</header>
