---
import BaseLayout from "./BaseLayout.astro";

type Props = {
  title: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="flex mt-8">
    <main class="w-full">
      <slot />
    </main>
  </div>
</BaseLayout>
